body {
      font-family: Arial, sans-serif;
    background-image: url("https://tse1.mm.bing.net/th/id/OIP.FNtkD8MjcOrGH7lJtSh_0wHaE5?rs=1&pid=ImgDetMain&o=7&rm=3");  
    background-size: cover;             
    background-position: center;        
    background-repeat: no-repeat;       
    background-attachment: fixed;       
    margin: 0;
    padding: 0;
}

#nav {
    background: #267f4b;
    color: white;
    padding: 20px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

#table {
    margin: 40px auto;
    width: 350px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

#dataForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-text {
    padding: 12px;
    font-size: 15px;
    border: 1px solid #1fa239;
    border-radius: 6px;
    transition: 0.2s;
}

.input-text:focus {
    border-color: #267f4b;
    box-shadow: 0 0 5px rgba(74,105,189,0.4);
    outline: none;
}

.input-btn {
    background: #267f4b;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.input-btn:hover {
    background: #7ec69c;
}


#list-section {
    margin: 40px auto;
    width: 80%; 
    max-width: 900px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}
#tabela-container {
    width: 90%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

#tabela-container h2 {
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

button {
    padding: 6px 10px;
    margin: 3px;
    background-color: #1f7a45;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

